#Mandatory Config and Crendentials Setting
export MILVUS_USER_PASSWORD=<milvus-user-password>
export MILVUS_ROOT_PASSWORD=<milvus-root-password>
export POSTGRES_ROOT_PASSWORD=<postgres-root-password>
export DTYPE="local"

#Optional GHCR Config
export GHCR_USER=<github-username>
export GHCR_PASSWORD=<github-token>
export GHCR_EMAIL=<github-email>

#Optional Longhorn Config
export LONGHORN_USER=<longhorn-username>
export LONGHORN_PASSWORD=<longhorn-password>

#Optional API key configurations
export OPENAI_KEY=<your-key>

#Optional SSO configurations
export CLIENT_ID=
export CLIENT_SECRET=
export DOMAIN=
export APP_SECRET_KEY=
export REDIRECT_URI=<url of auth service /authorize>
export FRONTEND_LOGIN_URI=<login page url of frontend>

#Optional Configurations
export ENABLE_INFOGREP_METRICS="true"
export ENABLE_JAEGER="true"
export ENABLE_KIALI="true"